/* Färgpalett */
/* Bakgrundsfärg: #1D1616
Primärfärg: #8E1616
Sekundärfärg: #D84040
Linjefärg: #EEEEEE */


* {
    margin: 0;
    padding: 0;
}

/* Stilsätta body */
body {
    max-width: 1600px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #1D1616;
    color: #EEEEEE;
    line-height: 1.2em;
}
